/* Rock-solid sticky positioning for Days part */
.sticky.left-0 {
    left: 0 !important;
    background-color: #ffffff !important;
    position: sticky !important;
}

.ista-scrollbar::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
.ista-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.ista-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}
